th,
td {
    text-align: center;
    vertical-align: middle;
    height: 75px;
    font-weight: 600;
    color: #aaa;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.table {
    margin: 0 0 15rem 0;
    border-radius: 15px;
    overflow: hidden;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.android {
    background-image: linear-gradient(45deg, #2aca38, #ffffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.ios {
    background-image: linear-gradient(45deg, #e7f378, #eee8ea);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.qa {
    background-image: linear-gradient(45deg, #fb7b03, #fbc9d3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.advWeb {
    background-image: linear-gradient(45deg, #0025cc, #fff7fb);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.php {
    background-image: linear-gradient(45deg, #fdfdfd, #e100ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.java {
    background-image: linear-gradient(45deg, #2f7af3, #74fa35);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}