<table class="table">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- Time -->
            <th scope="row">08:30am - 09:30am</th>
            <!--Sunday-->
            <td></td>
            <!-- Monday -->
            <td></td>
            <!-- Tuesday -->
            <td rowspan="2" class="android">
                PROG1305G <br /> Android <br /> David Burchill
            </td>
            <!-- Wednesday -->
            <td rowspan="2" class="ios">
                PROG1315B <br /> IOS <br /> Bonnie Ryan
            </td>
            <td rowspan="2" class="ios">
                PROG1315B <br /> IOS <br /> Bonnie Ryan
            </td>
            <!-- Friday -->
            <td class="android">
                PROG1305G <br /> Android <br /> David Burchill
            </td>
            <!-- Saturday -->
            <td></td>
        </tr>
        <tr>
            <!-- Time -->
            <th scope="row">09:30am - 10:30am</th>
            <!--Sunday-->
            <td></td>
            <!-- Monday -->
            <td class="qa">
                SYST1038<br /> QA Testing<br /> Delon Van Deventer
            </td>
            <!-- Friday -->
            <td></td>
            <!-- Saturday -->
            <td></td>
        </tr>
        <tr>
            <!-- Time -->
            <th scope="row">10:30am - 11:30am</th>
            <!--Sunday-->
            <td></td>
            <!-- Monday -->
            <td rowspan="2" class="advWeb">
                PROG1024i <br /> Advance Web Topics <br /> Stephen Carter
            </td>
            <!-- Tuesday -->
            <td rowspan="2" class="php">
                PROG1191 <br /> PHP <br /> Delon Van Deventer
            </td>
            <!-- Wednesday -->
            <td rowspan="2" class="advWeb">
                PROG1024i <br /> Advance Web Topics <br /> Stephen Carter
            </td>
            <!-- Thursday -->
            <td></td>
            <!-- Friday -->
            <td class="qa">
                SYST1038<br /> QA Testing<br /> Delon Van Deventer
            </td>
            <!-- Saturday -->
            <td></td>
        </tr>
        <tr>
            <!-- Time -->
            <th scope="row">11:30am - 12:30pm</th>
            <!--Sunday-->
            <td></td>
            <!-- Thursday -->
            <td></td>
            <!-- Friday -->
            <td></td>
            <!-- Saturday -->
            <td></td>
        </tr>
        <tr>
            <!-- Time -->
            <th scope="row">12:30pm - 01:30pm</th>
            <!--Sunday-->
            <td colspan="7" style="text-align: center">Lunch</td>
        </tr>
        <tr>
            <!-- Time -->
            <th scope="row">01:30pm - 02:30pm</th>
            <!--Sunday-->
            <td></td>
            <!-- Monday -->
            <td rowspan="2" class="ios">
                PROG1315B <br /> IOS <br /> Bonnie Ryan
            </td>
            <!-- Tuesday -->
            <td></td>
            <!-- Wednesday -->
            <td rowspan="2" class="php">
                PROG1191 <br /> PHP <br /> Delon Van Deventer
            </td>
            <!-- Thursday -->
            <td rowspan="2" class="java">
                PROG1265E <br /> Enterprise Java <br /> Joel Arun
            </td>
            <!-- Friday -->
            <td></td>
            <!-- Saturday -->
            <td rowspan="2" class="java">
                PROG1265E <br /> Enterprise Java <br /> Joel Arun
            </td>
        </tr>
        <tr>
            <!-- Time -->
            <th scope="row">02:30pm - 03:30pm</th>
            <!--Sunday-->
            <td></td>
            <!-- Tuesday -->
            <td></td>
            <!-- Friday -->
            <td></td>
        </tr>
    </tbody>
</table>