/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "../node_modules/angular-calendar/css/angular-calendar.css";
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

body {
    /* background: url('./assets/pexels-eberhard-grossgasteiger-1287142.jpg') center center fixed no-repeat; */
    background: url('./assets/pexels-adrien-olichon-2387793.jpg') center center fixed no-repeat;
    background-size: cover;
    /* color: #000; */
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

 ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}